{% extends 'layout.html' %}

{% block main %}

<ol class="breadcrumb">
    <li><a href="/">管理首页</a></li>
    <li><span>内容添加</span></li>
</ol>

<h3>内容添加</h3>

<form role="form" method="post">

    <div class="form-group">
        <label for="title">分类</label>
        <select name="category" id="category" class="form-control">
            {%for category in categories%}
            <option value="{{category.id}}">{{category.name}}</option>
            {%endfor%}
        </select>
    </div>

    <div class="form-group">
        <label for="title">标题</label>
        <input type="text" class="form-control" id="title" placeholder="请输入标题" name="title">
    </div>

    <div class="form-group">
        <label for="desc">简介</label>
        <textarea name="desc" id="desc" class="form-control" rows="5" placeholder="请输入简介"></textarea>
    </div>

    <input type="hidden" name="content" id="content" class="form-control" rows="10" value=""
        placeholder="请输入内容"></input>

    <div class="form-group">
        <label for="content">内容</label>
        <!-- Include Quill stylesheet -->
        <link type="text/css" href="/node_modules/quill/dist/quill.snow.css" rel="stylesheet">

        <!-- Create the toolbar container -->
        <div id="toolbar">
            <button class="ql-bold">Bold</button>
            <button class="ql-italic">Italic</button>
        </div>

        <!-- Create the editor container -->
        <div id="editor">
            <p>Hello World!</p>
        </div>


        <!-- Include the Quill library -->
        <script src="/node_modules/quill/dist/quill.js"></script>

        <!-- Initialize Quill editor -->
        <script>
            var editor = new Quill('#editor', {
                modules: { toolbar: '#toolbar' },
                theme: 'snow'
            });
        </script>
    </div>

    <button id="sub-btn" type="submit" class="btn btn-default">提交</button>
    <script>
        $('#sub-btn').click(function () {
            var content = JSON.stringify(editor.getContents())
            $('#content').val(content)
        })</script>
</form>

{% endblock %}