{% extends 'layout.html' %}

{% block main %}

<ol class="breadcrumb">
    <li><a href="/">管理首页</a></li>
    <li><span>成功提示</span></li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">成功提示</h3>
    </div>
    <div class="panel-body">{{message}}</div>
    <div class="panel-footer">

        <a id="goto" href="{{ url }}">点击这里跳转<span id="remaining"></span>S</a>
        <script>
            $('#remaining').html(3)
            let remaining = 2
            const i = setInterval(function(){
                $('#remaining').html(remaining)
                remaining --
                if (remaining < 1) {
                    clearInterval(i)
                    window.location = $('#goto').attr('href')
                }
            }, 1000)
        </script>
    </div>
</div>

{% endblock %}